<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

       <bean id="gui" class="application.Gui">
              <property name="parser" ref="csvParser"/>
              <property name="wageService" ref="wageService"/>
       </bean>

       <bean id="csvParser" class="service.parser.CsvParser"/>

       <bean id="wageService" class="service.wage.WageServiceImpl"/>

       <bean id="runningService" class="service.RunningServiceImpl">
              <property name="parser" ref="csvParser"/>
              <property name="wageService" ref="wageService"/>
       </bean>
</beans>